 /*<---------- SECTION 1 ---------->*/

.section1-expert{
    background-color: #ffe4d4;
    padding: 100px 100px;
}

.experts-section1-title{
    margin: 0;
}

.experts-section1-text{
    padding: 0 200px;
}

.experts-icon-div{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-top: 100px;
}

.expert-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expert-icon-img{
    width: 70px;
}

.expert-icon-text{
    text-align: center;
    font-size: 0.85rem;
    padding: 0 50px;
}

 /*<---------- SECTION 2 ---------->*/

 .section2-experts-div{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: start;
 }

 .experts-section2-img{
    width: 600px;
 }

 /*<---------- SECTION 3 ---------->*/

 .expert-section3{
    height: 90vh;
    background-color: #ffe4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .expert3-title{
    color: #f45f8c;
    font-size: 2rem;
 }

 .expert3-button{
    background-color: white;
    border-style: none;
    color: #f45f8c;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 5px;
    margin: 10px;
 }

  /*<---------- SECTION 4 ---------->*/

  .expert4-div{
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    align-items: center;
    padding: 100px 0;
  }

  .expert4-img-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #f45f8c70;
    border-radius: 1000px;
  }


  .expert4-img{
    display: flex;
  }


  .expert4-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 100px;
    line-height: 2;
  }